img {
    max-width: 300px;
}

.itemList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0; 
    backdrop-filter: blur(3px);
}

.loadingImage {
    background-color: white;
    border: 2px solid gray;
    padding: 40px;
    border-radius: 5px;
    margin-top: 10px;
}

.loadingText {
    position: relative;
    bottom: 40px;
}